section {
	max-width: 760px;
	// text-align: center;

	h2 {
		font-size: 2rem;
		margin-bottom: 16px;
	}

	p {
		font-size: 1.2rem;
		text-align: justify;
		text-wrap: balanced;
	}

	& + section {
		margin-top: 48px;
	}
}

.class-group-container {
	display: grid;
	grid-template-columns: 240px 240px;
	justify-content: center;
	gap: 16px;
	margin-top: 24px;
	text-align: center;

	@media screen and (max-width: 768px) {
		grid-template-columns: 1fr;
	}

	.class-group-box {
		position: relative;
		overflow: hidden;
		border: 2px solid var(--secondary);
		border-radius: 12px;
		padding: 16px;

		// Ensure content is above ::before overlay
		> * {
			position: relative;
			z-index: 1;
		}

		h3 {
			font-size: 1.5rem;
		}

		.class-group-icon {
			font-size: 5rem;
			margin: 8px 0;
		}

		p {
			font-size: 1rem;
			text-align: center;
		}

		transition: color 0.3s ease-in-out;
		&:hover {
			color: var(--white);
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			background-color: var(--secondary-dark);
			transition: left 0.3s ease-in-out;
			z-index: 0;
		}

		&:hover::before {
			left: 0;
		}
	}
}

details {
	border: 2px solid var(--secondary);
	border-radius: 4px;
	max-width: 480px;
	overflow: hidden;
	margin: 0 auto;
	transition:
		box-shadow 0.15s ease-in-out,
		background-color 0.15s ease-in-out,
		color 0.15s ease-in-out;

	&:hover {
		box-shadow: 4px 4px 4px 2px #e6e6e6;
		background-color: var(--secondary-dark);
		color: var(--white);
	}

	summary {
		font-size: 1.2rem;
		font-weight: bold;
		cursor: pointer;
		padding: 8px;
		z-index: 2;

		&::marker {
			content: "";
		}
	}

	p {
		font-size: 1rem;
		background-color: var(--secondary-dark);
		color: var(--white);
		padding: 8px;
		text-wrap: wrap;

		a {
			color: var(--primary-light);
			text-decoration: underline;

			&:hover {
				color: var(--white);
			}

			&:visited {
				color: var(--primary-dark);
			}
		}
	}

	&::details-content {
		transition:
			height 0.5s ease,
			content-visibility 0.5s ease allow-discrete;
		height: 0;
		overflow: clip;
	}

	&[open]::details-content {
		height: auto;
		overflow: visible;
	}

	&:first-of-type {
		margin-top: 24px;
	}

	& + details {
		margin-top: 8px;
	}
}

.level-calculator {
	max-width: 480px;
	margin: 0 auto;

	form {
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin-top: 16px;

		label {
			display: flex;
			align-items: center;
			gap: 8px;
			border: 2px solid var(--secondary);
			border-radius: 4px;
			padding: 8px;
			font-size: 1rem;
			font-weight: 600;
			line-height: 100%;
			transition: width 0.2s ease-in-out;

			cursor: pointer;
			& > * {
				cursor: pointer;
			}

			&:nth-child(3) {
				margin-bottom: 16px;
			}

			&:hover input[type="checkbox"] {
				border-width: 4px;
			}

			input[type="checkbox"] {
				display: grid;
				place-content: center;
				appearance: none;
				margin: 0;
				font: inherit;
				color: currentColor;
				width: 18px;
				height: 18px;
				border: 2px solid currentColor;
				border-radius: 2px;
				transition: border-width 0.1s ease-in-out;
			}

			input[type="checkbox"]::before {
				content: "";
				width: 10px;
				height: 10px;
				transform: scale(0);
				transition: 120ms transform ease-in-out;
				box-shadow: inset 16px 16px currentColor;
			}

			input[type="checkbox"]:checked::before {
				transform: scale(1);
			}
		}
	}

	h3 {
		text-align: center;
		margin: 16px 0;
		text-decoration: underline;
		text-underline-offset: 2px;
		text-decoration-thickness: 2px;
	}
}
