<div>
	<h2>Employees</h2>
	<div class="employees">
		<div class="employee-container">
			<div class="employee-header">
				<h3>Sullivahn Sill</h3>
				<p>Male Half-Elf</p>
			</div>
			<dl>
				<dt>Position</dt>
				<dd>Innkeep</dd>

				<dt>Wages</dt>
				<dd>5 Gold per month</dd>

				<dt>Effect</dt>
				<dd>Cures 1 exhaustion per day</dd>
			</dl>
			<p class="employee-description">
				Sir Sill keeps the guild house running smoothly. Coming from a noble background in Waterdeep, he knows how to
				make each guest and member feel welcome and at home. Sullivahn also has intimate knowledge of gnomish coffee
				brewing techniques, giving the founders an opportuinty to
				<b>cure</b>
				what the experts call "
				<b>gruff</b>
				".
			</p>
		</div>

		<div class="employee-container">
			<div class="employee-header">
				<h3>Firozzi Sarmele</h3>
				<p>Female Human</p>
			</div>
			<dl>
				<dt>Position</dt>
				<dd>Barmaid</dd>

				<dt>Wages</dt>
				<dd>5 Gold per month</dd>

				<dt>Effect</dt>
				<dd>Provides 1 inspiration for those without any</dd>
			</dl>
			<p class="employee-description">
				Miss Sarmele is known for her quick wit and even quicker service, and can often be heard muttering "gotta go
				fast" to herself. As the guild's barmaid, she ensures that members and guests alike are well taken care of.
				Knowing the founders' favourite foods and drinks, she always makes them feel at home and
				<b>inspires</b>
				those who lack morale.
			</p>
		</div>

		<div class="employee-container">
			<div class="employee-header">
				<h3>Montclair Villeneuve</h3>
				<p>Male Elf</p>
			</div>
			<dl>
				<dt>Position</dt>
				<dd>Master Chef</dd>

				<dt>Wages</dt>
				<dd>5 Gold per month</dd>

				<dt>Effect</dt>
				<dd>Can be assigned to brew potions</dd>
			</dl>
			<p class="employee-description">
				Mister Villeneuve is a culinary artist hailing from the elven city of Silverymoon. As the guild's chef, he
				crafts exquisite meals that will satisfy the hunger of any guest stepping through the doors. With his deep
				understanding of herbs and mixology, Montclair is also capable of
				<b>brewing potions</b>
				while the founders are on adventures.
			</p>
		</div>

		<div class="employee-container">
			<div class="employee-header">
				<h3>Spike Shadowblade</h3>
				<p>Female Gnome</p>
			</div>
			<dl>
				<dt>Position</dt>
				<dd>Security</dd>

				<dt>Wages</dt>
				<dd>5 Gold per month</dd>

				<dt>Effect</dt>
				<dd>Deters trouble, very cool(!)</dd>
			</dl>
			<p class="employee-description">
				Miss Shadowblade may be small in stature, but she is fierce when it comes to protecting the guild and its
				members. As head of security, Spike ensures that any troublemakers are swiftly dealt with,
				<b>preventing any retaliation</b>
				against the guild should any mission go awry.
			</p>
		</div>

		<div class="employee-container">
			<div class="employee-header">
				<h3>Glemrir Soots</h3>
				<p>Tough to tell Dwarf</p>
			</div>
			<dl>
				<dt>Position</dt>
				<dd>Renovator</dd>

				<dt>Wages</dt>
				<dd>Paid Per Project</dd>

				<dt>Effect</dt>
				<dd>Can install traps and alarms</dd>
			</dl>
			<p class="employee-description">
				Soots is a dwarf of few words, but their craftsmanship speaks volumes. As the guild's renovator, Glemrir is
				responsible for maintaining and upgrading the guild house. Their work comes with a
				<b>lifetime warranty</b>
				, ensuring that the guild remains in top condition. Very little else is know about this enigma of a dwarf.
			</p>
		</div>
	</div>
</div>

<div class="map-container">
	<h2>Top Floor</h2>
	<img src="img/House_Top_Floor.jpg" alt="Ground floor of the guild house" />
	<h2>Bottom Floor</h2>
	<img src="img/House_Ground_Floor.jpg" alt="Top floor of the guild house" />
</div>
