@use "styles.scss" as *;

:host {
	display: flex;
	justify-content: center;
	gap: 32px;
	padding: 0 12px;

	span:first-child {
		max-width: 30%;

		h2 {
			margin-bottom: 32px;
		}
	}

	@media screen and (max-width: 1000px) {
		flex-direction: column;
		align-items: center;

		span:first-child {
			max-width: 100%;
			width: fit-content;
		}
	}
}

.founders-controls-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 24px;
	margin-bottom: 24px;

	.controls {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;

		button {
			padding: 8px 16px;
			border: 2px solid var(--complimentary-dark);
			border-radius: 8px;
			font-size: 1rem;
			cursor: pointer;
			background-color: var(--primary);
			transition: background-color 0.2s;

			&:hover {
				background-color: var(--primary-light);
			}
			&:active {
				background-color: var(--primary-dark);
			}

			&:last-child {
				border-style: dotted;
			}
		}
	}
}

.missing-selection {
	font-style: italic;
	color: var(--grey-dark);
	text-align: center;
}
