@if (!!character()) {
<button [routerLink]="navigationLink" (click)="characterClicked.emit(character().id)">
	<img
		[src]="character().imageUrl"
		[ngClass]="isSelected() ? 'is-selected' : ''"
		alt="Character image"
		[style.view-transition-name]="'character-image-' + character().id" />
	<div>
		<span class="name">
			{{ characterName }}
		</span>
		<span class="availability" [ngStyle]="{ 'background-color': availability }"></span>
	</div>
	<div class="details">
		<span>{{ character().class | classGroup }}</span>
		|
		<span>Level&nbsp;{{ character().experience | level }}</span>
	</div>
</button>
} @else {
<div>No character data</div>
}
