@if (!!mission) {
<app-mission-details [mission]="mission" [dispatchedMembers]="dispatchedMembers()" />
@if (getMissionAvailability(mission) === 'Available') {
<app-member-selection [members]="availableMembers()" (updateSelectedMembers)="selectedMemberIds = $event" />
@if ((loginService.role | async) === 'guest') {
<h2 class="login-title">Log in to dispatch</h2>
} @else {
<!-- TODO: This should be its own component maybe probably -->
<div class="dispatch-container">
	<h2>Dispatch on mission</h2>
	<p class="dispatch-subtitle">Selected members ({{ selectedMemberIds.length }})</p>
	<div class="dispatch-members">
		@if (selectedMemberIds.length < 1) {
		<div class="member-spaceholder"></div>
		} @for (member of selectedMembers; track member.id) {
		<span>
			{{ member.name }}
		</span>
		}
	</div>
	<span class="dispatch-subtitle">Selection matching reccommended composition</span>
	<span class="dispatch-value">
		{{ selectedMembersMatchingReccommendationsCount }} / {{ mission.recommendedComposition.length }}
	</span>
	<form (submit)="submit()">
		<span>
			<label for="dice-roll">d100</label>
			<input type="number" id="dice-roll" [formControl]="diceRoll" />
		</span>
		<span>
			<label for="dispatch-date">Date</label>
			<input type="date" [min]="currentDate" id="dispatch-date" [formControl]="dispatchDate" />
		</span>
		<button [disabled]="!canSubmit">DISPATCH</button>
	</form>
</div>
} } } @if (dispatchedMembers().length) {
<app-members-deck [members]="dispatchedMembers()" />
}
