:host {
	display: block;
	border: 4px solid var(--complimentary-dark);
	border-radius: 8px;
	width: fit-content;
	overflow: hidden;

	.card-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 96px;
		padding: 12px;
		background-color: var(--complimentary-dark);

		img {
			border-radius: 50%;
			width: 70px;

			transition: transform 1s ease-out;
			&.loading {
				transform: rotate(-360deg);
			}
			&.loaded {
				transform: rotate(0);
			}
		}
		h3 {
			color: var(--primary);
			font-size: 2rem;
			font-family: Georgia, "Times New Roman", Times, serif;
			font-style: italic;
			text-align: end;
		}
	}

	.card-body {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 16px;
		padding: 16px;

		@media screen and (max-width: 700px) {
			grid-template-columns: 1fr;
			grid-template-rows: auto auto;
			justify-items: center;

			h4 {
				text-align: center;
			}
		}

		img {
			border-radius: 24px;
			max-width: 200px;
			object-fit: cover;
			object-position: top;
			grid-row-start: 1;
			grid-row-end: 3;
			border: 2px solid var(--complimentary-dark);
			corner-shape: scoop scoop square square;
		}

		h4 {
			font-size: 1.4rem;
			margin-bottom: 16px;
		}

		dl,
		dt,
		dd {
			margin: 0;
		}
		dl {
			display: grid;
			grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 2fr);
			grid-template-rows: 1fr 1fr;
			gap: 0 12px;

			& + dl {
				margin-top: 12px;
			}
		}
		dt {
			font-size: 0.8rem;
			text-transform: uppercase;
			justify-self: start;
			grid-row-start: 1;
		}
		dd {
			font-weight: bold;
			white-space: pre;
			justify-self: start;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		transition:
			transform 0.3s ease-in-out,
			opacity 0.3s ease-in-out;
		&.loading {
			transform: translateY(100%);
			opacity: 0;
		}
		&.loaded {
			transform: translateY(0);
			opacity: 1;
		}

		.ability-scores {
			align-self: start;
			display: inline-grid;
			height: stretch;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 8px;

			.score {
				min-width: 64px;
				padding: 4px;
				cursor: pointer;
				background-color: var(--complimentary-dark);
				color: var(--white);
				border-radius: 8px;
				border: none;
				corner-shape: bevel;
				text-align: center;
				transition: background-color 0.2s;

				&:hover {
					background-color: var(--complimentary);
				}
				&:active {
					background-color: var(--complimentary-light);
				}

				div:first-of-type {
					font-size: 2rem;
					color: var(--primary);
				}
				div:last-of-type {
					font-size: 0.65rem;
					font-weight: bold;
					text-transform: uppercase;
					margin-left: 0.25ch;
				}
			}
		}
	}
}
