.navigation-group {
	width: fit-content;
	margin: 0 auto;
	padding: 24px;
	border: 6px solid var(--complimentary);
	border-radius: 16px;
	corner-shape: bevel;
	background-color: var(--secondary);
	color: var(--white);
	transition: border-color 0.2s;
	text-align: center;

	& + .navigation-group {
		margin-top: 32px;
	}

	&:hover {
		border-color: var(--complimentary-light);
	}

	h2 {
		font-size: 2em;
		color: var(--primary);
		font-weight: 600;
		margin-bottom: 16px;
	}

	&-categories {
		display: flex;
		justify-content: space-between;
		gap: 2rem;
		flex-wrap: wrap;

		a {
			width: 100px;
			height: 75px;
			position: relative;
			overflow: hidden;
			border: 2px solid var(--primary);
			border-radius: 10px;
			corner-shape: notch;
			padding: 8px;
			font-size: 1.25em;
			align-content: center;
			flex-shrink: 2;
			flex-grow: 2;
			cursor: pointer;
			text-decoration: none;
			color: var(--primary);
			transition: all 0.2s;

			&:hover {
				transform: scale(1.05);
				box-shadow: 0 0 20px var(--primary-light);
				background-color: var(--secondary-light);
			}
			&:active {
				background-color: var(--secondary-dark);
			}

			&.disabled {
				color: var(--grey-light);
				background-color: var(--grey-dark);
				border-color: var(--grey-light);
				cursor: not-allowed;
			}

			&::before {
				content: "";
				position: absolute;
				top: -50%;
				left: -50%;
				width: 200%;
				height: 200%;
				background: linear-gradient(0deg, transparent, transparent 30%, var(--primary-light));
				transform: rotate(-45deg);
				transition: all 0.4s;
				opacity: 0;
			}

			&:hover::before {
				opacity: 1;
				transform: rotate(-45deg) translateY(100%);
			}
		}
	}
}
