<div class="navigation-group">
	<h2>Manage</h2>
	<div class="navigation-group-categories">
		<a [routerLink]="['/members']">Members</a>
		<a [routerLink]="['/missions']">Missions</a>
		<a [routerLink]="['/employees']" class="disabled">Employees</a>
	</div>
</div>
<div class="navigation-group">
	<h2>Data</h2>
	<div class="navigation-group-categories">
		<a [routerLink]="['/economy']" class="disabled">Economy</a>
		<a [routerLink]="['/reputation']" class="disabled">Reputation</a>
		<a [routerLink]="['/founders']" class="disabled">Founders</a>
	</div>
</div>
