.navigation-group {
	width: fit-content;
	padding: 24px;
	border: 2px solid var(--grey);
	border-radius: 16px;
	transition: border-color 0.2s;

	& + .navigation-group {
		margin-top: 32px;
	}

	&:hover {
		border-color: var(--secondary);
	}

	h2 {
		font-weight: 400;
		margin-bottom: 16px;
	}

	&-categories {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
		flex-wrap: wrap;

		a {
			width: 100px;
			height: 100px;
			border: 1px solid var(--grey);
			border-radius: 4px;
			padding: 8px;
			font-size: 1.25em;
			text-align: center;
			align-content: center;
			flex-shrink: 2;
			flex-grow: 2;
			cursor: pointer;
			text-decoration: none;
			color: inherit;
			transition:
				background-color 0.1s,
				border-color 0.1s;

			&:hover {
				background-color: var(--grey-light);
				border-color: var(--secondary);
			}
			&:active {
				background-color: var(--grey);
				border-color: var(--secondary-dark);
			}

			&.disabled {
				background-color: var(--grey-light);
				border-color: var(--grey);
				cursor: not-allowed;
			}
		}
	}
}
