<div class="navigation-group">
  <h2>Manage</h2>
  <div class="navigation-group-categories">
    <a [routerLink]="['/members']">Members</a>
    <a [routerLink]="['/missions']">Missions</a>
    <a [routerLink]="['/employees']">Employees</a>
  </div>
</div>
<div class="navigation-group">
  <h2>Data</h2>
  <div class="navigation-group-categories">
    <a [routerLink]="['/economy']">Economy</a>
    <a [routerLink]="['/reputation']">Reputation</a>
    <a [routerLink]="['/founders']">Founders</a>
  </div>
</div>
