<div class="navigation-group">
	<h2>Manage</h2>
	<div class="navigation-group-categories">
		<a [routerLink]="['/members']">Members</a>
		<a [routerLink]="['/missions']">Missions</a>
	</div>
</div>
<div class="navigation-group">
	<h2>Data</h2>
	<div class="navigation-group-categories">
		<a [routerLink]="['/economy']" class="disabled">Economy</a>
		<a [routerLink]="['/employees']">Employees</a>
		<a [routerLink]="['/founders']">Founders</a>
		<a [routerLink]="['/reputation']">Reputation</a>
		<a [routerLink]="['/system']">System</a>
	</div>
</div>
