:host {
  --card-width: 375px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
  justify-items: center;
  gap: 32px;
  max-width: calc((2 * var(--card-width)) + (2 * 64px));
  margin: 64px auto;
  padding: 0 16px 32px;

  app-mission-card {
    width: var(--card-width);
  }
}
