:host {
	max-width: 450px;
	padding: 20px;
	background-color: var(--secondary);
	color: var(--white);
	border-radius: 20px;
}

h2 {
	font-size: 32px;
}

.metadata {
	display: flex;
	justify-content: space-between;
}

.detail-section:not(:last-child) {
	margin-bottom: 20px;
	border-bottom: 4px solid var(--complimentary);
	padding-bottom: 20px;
}

.section-title {
	display: block;
	text-align: center;
	margin-bottom: 12px;
	font-style: italic;
}

.recommendation {
	.composition-text {
		display: flex;
		justify-content: center;
		gap: 3ch;

		.amount {
			font-size: 2rem;
			font-weight: bold;
		}
		.name {
			margin-left: 4px;
			font-size: 1.2rem;
			font-weight: normal;
		}
	}
}

.outcome-status {
	font-weight: semibold;
	text-align: center;
	margin-bottom: 12px;
}
.rewards {
	width: fit-content;
	margin: 0 auto;
	padding: 8px 16px;
	background-color: var(--primary);
	color: var(--secondary);
	font-size: 1.2rem;
	font-weight: bold;
	border-radius: 9999px;

	span:first-of-type {
		margin-right: 8px;
		border-right: 2px solid var(--secondary);
		padding-right: 8px;
	}
}
.rewards-calculation {
	display: block;
	margin: 4px auto 0;
	text-align: center;
}

.reward-description {
	margin-top: 16px;
}

.delete-action {
	margin-left: 16px;
	background-color: var(--error);
	border-radius: 8px;
	border: none;
	padding: 10px 20px;
	color: var(--white);
	font-weight: 600;

	&:disabled {
		background-color: var(--grey);
		cursor: not-allowed;
	}
}
