<div class="member-details-container">
	<div class="member-header">
		<img [src]="member?.imageUrl" alt="Member image" [style.view-transition-name]="'character-image-' + memberId" />
		<span class="member-header-info">
			<div class="class-level">
				<span>{{ member?.class | classGroup }}</span>
				|
				<span>Level&nbsp;{{ member?.experience ?? 0 | level }}</span>
			</div>
			<h2>{{ member?.name ?? "Adventurer" }}</h2>
			<p>{{ member?.description ?? "" }}</p>
		</span>
	</div>

	<div class="member-stats">
		@if (member?.abilityScores; as scores) {
		<span class="ability-scores">
			<button class="score" (click)="isModPreferred.set(!isModPreferred())">
				<div>{{ isModPreferred() ? (scores.strength | abilityModifier) : scores.strength }}</div>
				<div>STR</div>
			</button>
			<button class="score" (click)="isModPreferred.set(!isModPreferred())">
				<div>{{ isModPreferred() ? (scores.dexterity | abilityModifier) : scores.dexterity }}</div>
				<div>DEX</div>
			</button>
			<button class="score" (click)="isModPreferred.set(!isModPreferred())">
				<div>{{ isModPreferred() ? (scores.constitution | abilityModifier) : scores.constitution }}</div>
				<div>CON</div>
			</button>
			<button class="score" (click)="isModPreferred.set(!isModPreferred())">
				<div>{{ isModPreferred() ? (scores.intelligence | abilityModifier) : scores.intelligence }}</div>
				<div>INT</div>
			</button>
			<button class="score" (click)="isModPreferred.set(!isModPreferred())">
				<div>{{ isModPreferred() ? (scores.wisdom | abilityModifier) : scores.wisdom }}</div>
				<div>WIS</div>
			</button>
			<button class="score" (click)="isModPreferred.set(!isModPreferred())">
				<div>{{ isModPreferred() ? (scores.charisma | abilityModifier) : scores.charisma }}</div>
				<div>CHA</div>
			</button>
		</span>
		}

		<span class="stats">
			<span class="stat">
				<span>{{ member?.hitPoints ?? 0 }}</span>
				<span>HP</span>
			</span>
			<span class="stat">
				<span>{{ member?.armorClass ?? 0 }}</span>
				<span>AC</span>
			</span>
			<span class="stat">
				<span>{{ member?.experience ?? 0 }}</span>
				<span>XP</span>
			</span>
			<span class="stat">
				<span>{{ member?.speed ?? 0 }}</span>
				<span>Speed</span>
			</span>
		</span>

		<span class="knowledge">
			<div>
				<h3>Languages</h3>
				{{ separatedLanguages }}
			</div>

			<div>
				<h3>Features</h3>
				{{ separatedFeatures }}
			</div>
		</span>
	</div>
</div>

<!-- TODO: This should be its own component -->
@if (!isEditing) {
<div class="controls">
	@if (member?.hasBonus) {
	<span>
		<span class="control-title">Equipment:</span>
		<span class="control-value">{{ member?.bonusDescription }}</span>
	</span>
	}
	<span>
		<span class="control-title">Debt:</span>
		<span class="control-value">{{ member?.debt }}g</span>
	</span>
	<button (click)="isEditing = !isEditing" appDisableIfGuest>Edit</button>
</div>
} @else {
<form class="controls" [formGroup]="memberForm" (ngSubmit)="submit()">
	<span>
		<label for="bonus">Has equipment</label>
		<input type="checkbox" id="bonus" formControlName="hasBonusControl" />
	</span>
	<span>
		<label for="description">Equipment description</label>
		<input id="description" maxlength="32" formControlName="bonusDescriptionControl" />
	</span>
	<span>
		<label for="debt">Debt</label>
		<input type="text" id="debt" maxlength="4" formControlName="debtControl" />
	</span>
	<button type="submit" [disabled]="isLoading">Submit</button>
</form>
}
